html
    head
        title Add Item
        meta(charset="utf-8")
        link(type="text/css", rel="stylesheet", href="/css/admin/admin-panel.css")
        link(type="text/css", rel="stylesheet", href="/css/admin/add-item.css")
        script(type="text/javascript", src="/js/common/jquery.js")
    body
        include admin-panel-list
        div(class="item-form")
        script(type="text/javascript", src="/js/admin/add-item.js")