html
    head
        title= category
        meta(charset="utf-8")
        link(type="text/css", rel="stylesheet", href="/css/admin/admin-panel.css")
        link(type="text/css", rel="stylesheet", href="/css/admin/items.css")
        script(type="text/javascript", src="/js/common/jquery.js")
    body
        include admin-panel-list
        div(class="items")
            form(class="items-ctrl")
                input(type="button", name="add", value="Add item")
                input(type="button", name="remove", value="remove items")
            p(class="amount")
        script(type="text/javascript", src="/js/admin/items.js")