html
    head
        title Admin
        meta(charset="utf-8")
        link(type="text/css", rel="stylesheet", href="/css/admin/admin-panel.css")
        script(type="text/javascript", src="/js/common/jquery.js")
    body
        include admin-panel-list
        h1 Let's magic happen
        script(type="text/javascript", src="/js/admin/panel.js")