.items-container {
    position: relative;
    width: 80%;
}

.item {
    position: relative;
    display: inline-block;
    width: 25%;
}

.item-name {
    text-decoration-style: none;
    color: black;
    display: block;
}

.item-name:hover {
    color: black;
}

.item img {
    position: relative;
    width: 50%;
}