body {
    margin: 0;
    padding: 0;
}

.logo {
    text-align: center;
    background-color: steelblue;
}

.logo p {
    margin: 0;
    padding: 20px 0px;
}

.custom-navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.custom-navbar ul li {
    list-style: none;
}

.custom-navbar ul li.more {
    position: relative;
    width: 20%;
    text-align: center;
}

.custom-navbar ul li.search {
    position: relative;
    width: 80%;
}

.custom-navbar ul li.search input[type="text"] {
    position: relative;
    width: 70%;
    border-radius: 5px;
    border: 1px solid #000;
}

.custom-navbar ul li.search button {
    position: relative;
    width: 20%;
    margin-left: 5%;
}

.list-display {
    display: block!important;
}

.list {
    display: none;
    position: absolute;
    width: 20%;
    background-color: darkturquoise;
}

.footer {
    position: absolute;
    bottom: 0%;
}