div(class="logo")
    p materynka
div(class="custom-navbar")
    ul
        li(class="more") See categories
        li(class="search")
            div
                input(type="text", name="search", placeholder="search...")
                button(class="search_button") Search
