div(class="hot-products")
  div(id="HotProducts", class="carousel slide", data-ride="carousel")
    ol(class="carousel-indicators")
    div(class="carousel-inner")
    a(class="carousel-control-prev", href="#HotProducts", role="button", data-slide="prev")
      span(class="carousel-control-prev-icon", aria-hidden="true")
      span(class="sr-only") Previous
    a(class="carousel-control-next", href="#HotProducts", role="button", data-slide="next")
      span(class="carousel-control-next-icon", aria-hidden="true")
      span(class="sr-only") Next