html
    head
        title Main page
        meta(charset="utf-8")
        link(type="text/css", rel="stylesheet", href="/css/public/main.css")
        script(type="text/javascript", src="/js/common/jquery.js")
    body
        include header
        include slider
        include hot-products
        include footer