html
    head
        title Main page
        meta(charset="utf-8")
        link(type="text/css", rel="stylesheet", href="/css/public/main.css")
        link(type="text/css", rel="stylesheet", href="/css/common/bootstrap/css/bootstrap.css")
        script(type="text/javascript", src="/js/common/jquery.js")
    body
        include header
        include new-products
        include hot-products
        include footer
        script(type="text/javascript", src="/js/common/bootstrap/js/bootstrap.bundle.js")
        script(type="text/javascript", src="/js/public/main.js")